# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
/src/venv/
ENV/
env/

# Django specific
*.sqlite3
*.log
*.pot
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store
